!!!
%html
  %head
    %title Autorennen
    %meta{charset: "utf-8"}/
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/

    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}/

    %script{:src => "/javascript/jquery-1.10.2.min.js"}
    %script{:src => "/javascript/bootstrap/bootstrap.min.js"}
    %script{:src => "/javascript/application.js"}

  %body
    #wrapper
      #header
        #navigation.navbar.navbar-static-top{:role => "navigation"}
          .container
            %ul.navbar.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{:href => "#", :data => {"toggle" => "dropdown"}}
                  racetracks
                  %b.caret
                %ul.dropdown-menu
                  - Track.all.each do |track|
                    %li
                      %a{:href => "/tracks/#{track.id}/edit", :title => track}= track
                  - if Track.all.any?
                    %li.divider
                  %li
                    %a{:href => "/tracks/form", :title => "create new racetrack"}
                      %span create new racetrack
              %li.dropdown.pull-right
                %a.dropdown-toggle{:href => "#", :data => {"toggle" => "dropdown"}}
                  login
                %ul.login-form.dropdown-menu
                  %form{:action => "/login"}
                    %li
                      %input{:type => "text", :name => "user[username]", :placeholder => "username"}
                    %li
                      %input{:type => "password", :name => "user[password]", :placeholder => "password"}
                    %li.pull-right
                      %input.btn.btn-sm.btn-success{:type => "submit", :value => "login"}

      #content
        =yield

      #footer

