label {
  width: 60px;
}

#wrapper {
  width: 66%;
  margin: auto;
}

#navigation {

  .container {
    width: 100%;
    margin: auto;
    padding: 0;
    border-bottom: 1px solid black;

    .navbar {
      width: 100%;
    }

    .login-form {
      li {
        margin: 5px;
      }
    }
  }
}

#footer {
  height: 40px;
}

.table {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
    }
  }
}

.success {
  background-color: #47a447;
  border-color: #398439;
}

.notice {
  background-color: #ed9c28;
  border-color: #d58212;
}

.error {
  background-color: #d2322d;
  border-color: #ac2925;
}

.inline {
  display: inline-block;
}

.right {
  text-align: right;
}

.spacer {
  margin: 5px 0;
}

.markdown {
  font-size: 120%;

  h1, h2, h3, h4, h5, h6 {
    span {
      display: none;
    }
  }
}
