#race-container {
  table#players {
    border-collapse: collapse;
    width: 100%;
  }

  .color-label {
    border: 1px solid black;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }

  #race-menu {
    margin: 10px 0;

    #booster-select {
      width: 100px;
    }
  }
}
