#race-container
  %form#race-form.form-horizontal{:action => "/races/create", :method => "post"}
    .container-fluid
      .row
        .col-md-10
          .form-group
            %label.control-label.col-md-2{:for => "race-name"} Name:
            .col-md-5
              %input#race-name.form-control{:type => "text", :name => "race[name]", :placeholder => "New Race", :value => @race}
        .col-md-2
          .form-group.pull-right
            %input.btn.btn-success{:type => "submit", :value => "start race"}
      .row
        .col-md-10
          .form-group
            %label.control-label.col-md-2{:for => "race-track"} Track:
            .col-md-5
              %select#race-track.form-control{:name => "race[track_id]"}
                - Track.all.each do |track|
                  %option{:value => track.id}= track.name
      .row
        .col-md-10
          .form-group
            %label.control-label.col-md-2{:for => "race-users"} Players:
            .col-md-5
              - User.all.each do |user|
                .checkbox
                  %input{:id => "race-users-#{user.id}", :type => "checkbox", :name => "race[user_ids][]", :value =>user.id, :checked => "checked"}
                  %label{:for => "race-users-#{user.id}"}= user
