- if @track.persisted?
  - action = "/tracks/#{@track.id}/update"
  - id = @track.id
- else
  - action = "/tracks/create"
  - id = 0

%form.track.track_form{:id => "track_#{id}", :action => action, :method => "post"}
  %ul
    %li.table
      .row
        %input.track_name.cell.form-control{:type => "text", :name => "track[name]", :placeholder => "new track", :value => @track.name}
    %li.table
      .row
    %li
      .pull-right
        %input.btn.btn-success{:type => "submit", :value => "save"}
      .clearfix

