%script{:src => "/javascript/track.js"}
%script{:src => "/javascript/tile.js"}
%script{:src => "/javascript/track_form.js"}
%script{:src => "/javascript/menu_manager.js"}
%script{:src => "/javascript/draw_track_menu.js"}
%script{:src => "/javascript/erase_track_menu.js"}
%script{:src => "/javascript/pickup_menu.js"}
- if @track.persisted?
  - action = "/tracks/#{@track.id}/update"
  - css_id = @track.id
- else
  - action = "/tracks/create"
  - css_id = 0

%form#track-form.track.form-horizontal{:action => action, :method => "post"}
  %input#track-id.form-control{:type => "hidden", :name => "track[id]", :value => @track.id}
  %input#track-creator-id.form-control{:type => "hidden", :name => "track[creator-id]", :value => current_user.id}
  .container-fluid
    .form-group
      %label.col-xs-1.control-label{:for => "track-name"} Name:
      .col-xs-4
        %input#track-name.form-control{:type => "text", :name => "track[name]", :placeholder => "new track", :value => @track.name}
      .col-xs-2.pull-right
        %input.pull-right.btn.btn-success{:type => "submit", :value => "save"}
#track-container.center-block
  #track-menu
    %div.btn-toolbar
      %div.btn-group{:data => {"toggle" => "buttons"}}
        %label.btn.btn-default.active
          draw track
          %input#draw-track{:type => "radio", :name => "draw track", :checked => "checked"}
        %label.btn.btn-default
          erase track
          %input#erase-track{:type => "radio", :name => "erase track"}
        %label.btn.btn-default
          %image#pickup-finish{:src => "/images/finish.png", :width => "15", :height => "15"}
          %input#finish{:type => "radio", :name => "finish line"}
        %label.btn.btn-default
          %image#pickup-booster{:src => "/images/booster.png", :width => "15", :height => "15"}
          %input#booster{:type => "radio", :name => "booster"}
        %label.btn.btn-default
          %image#pickup-rocket{:src => "/images/rocket.png", :width => "15", :height => "15"}
          %input#rocket{:type => "radio", :name => "rocket"}
        %label.btn.btn-default
          %image#pickup-mine{:src => "/images/mine.png", :width => "15", :height => "15"}
          %input#mine{:type => "radio", :name => "mine"}
      %div.btn-group.pull-right
        %button#clear.btn.btn-default clear
  %canvas#track

